@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-6;
  }

  .primary-btn {
    @apply px-6 py-3 rounded-xl font-semibold
    bg-green-600 text-white
    hover:bg-green-700 transition;
  }
}
